<div>
  <!-- floating action buttons start  -->
  <button class="fa-btn enquire-fab rounded-top">Enquire Now</button>
  <a
    href="https://wa.me/8010180034"
    class="text-decoration-none text-white"
    target="_blank"
  >
    <button class="fa-btn whatapp-fab rounded-start text-start">
      <i class="fa-brands fa-whatsapp mx-1 fs-6"></i> Whatsapp Chat
    </button>
  </a>
  <a
    href="mailto:maheshhattmare03@gmail.com"
    class="text-decoration-none text-white"
    target="_blank"
  >
    <button class="fa-btn mai-fab rounded-start text-start">
      <i class="fa-regular fa-envelope ms-1 me-2 fs-6"></i>Mail
    </button>
  </a>
  <!-- nina start-->
  <div class="ninaa-assistant" id="nina-assistant">
    <img src="/assets/images/niaa.png" alt="ninaa" />
  </div>
  <div class="shadow ninaa-hover" id="nina-hover">
    <button
      type="button"
      id="assistant-close-btn"
      class="text-start p-1 bg-danger border-0 outline-0 rounded-circle text-white d-flex"
      style="font-size: 10px; width: 15px; height: 15px"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
    <p class="px-4">Hey! I am Ninaa... Your<br />Admission assistant.</p>
  </div>
  <!-- ninaa click block  start-->
  <div
    id="nina-chat-block"
    class="position-fixed bg-white shadow-lg"
    style="z-index: 11"
  >
    <div
      class="row justify-content-between text-white px-1 rounded-top"
      style="background-color: #5c0f8b"
    >
      <div class="col-5 d-flex align-items-center text-start">
        <img src="/assets/images/niaa.png" class="w-25 img-fluid" alt="..." />
        <h5 class="ms-2 pt-2 fs-6">Ninaa</h5>
      </div>
      <div
        class="col-5 fs-6 d-flex flex-end justify-content-end"
        style="cursor: pointer"
      >
        <p class="pt-2 me-3"><i class="fa-solid fa-rotate-right mt-2"></i></p>
        <p id="nina-chat-close-btn" class="pt-1">
          <i class="fa-solid fa-window-minimize mt-1"></i>
        </p>
      </div>
    </div>
    <!-- chating  start-->
    <div
      class="row overflow-auto bg-white color-dark shadow"
      style="max-height: 400px"
    >
      <div class="col-12 px-0">
        <iframe
          src="https://youtube.com/embed/T3Z1Gu7Hhpo"
          frameborder="0"
          class="w-100 h-100"
        ></iframe>
      </div>
      <div class="col-12 my-2">
        <div class="row py-1 px-2 justify-content-start">
          <div class="col-1 text-start p-0">
            <img
              src="/assets/images/niaa.png"
              alt="ninaa"
              style="width: 30px"
              class="img-fluid"
            />
          </div>
          <div class="col-11 text-start card p-2 border-0 shadow">
            <span class="fw-light" style="font-size: 14px"
              >Hello !! welcome to Raisoni Education. You're talking to Jiya,
              the brilliant admission assistant.
            </span>
          </div>
        </div>
        <div class="row pt-2 px-2 justify-content-start">
          <div class="col-1 text-start p-0">
            <img
              src="/assets/images/niaa.png"
              alt="ninaa"
              style="width: 30px"
              class="img-fluid"
            />
          </div>
          <div class="col-11 text-start card p-2 border-0 shadow">
            <span class="fw-light" style="font-size: 14px"
              >Hello !! welcome to Raisoni Education. You're talking to Jiya,
              the brilliant admission assistant.
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- chating  end-->
    <!-- input field  -->
    <form>
      <div class="row py-2 bg-white border-top justify-content-evenly">
        <div class="col-10">
          <input
            type="text"
            placeholder="Type your message here..."
            class="w-100 px-2 fs-6"
            style="border: 0; outline: 0"
          />
        </div>
        <div class="col-2 text-center">
          <button
            class="fs-5 text-white px-2 border-0 outline-0 h-100 rounded-1"
            style="background-color: #5c0f8b"
            type="reset"
          >
            <i class="fa-solid fa-play"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- nina click block  end-->
  <!-- nina end  -->
  <!-- floating action buttons end  -->
</div>
