<header>
  <!-- header section start  -->
  <section class="position-relative overflow-hidden">
    <div>
      <!-- background img -->
      <img
        src="/assets/images/ghrce.png"
        class="img-fluid"
        style="max-height: 95vh; width: 100%"
      />

      <div id="navbar-placeholder"></div>

      <!-- png -->
      <div class="curve-png d-sm-block d-none">
        <img src="/assets/images/white-group-identity.png" class="img-fluid" />
      </div>
    </div>
    <!-- floating action buttons  -->
    <div id="assistance-and-fab"></div>
  </section>
</header>
<!-- header section end  -->
