<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style></style>
  </head>
  <body>
    <header>
      <!-- header section start  -->
      <section class="position-relative overflow-hidden">
        <div>
          <!-- background img -->
          <img
            src="/assets/images/ghrce.png"
            class="img-fluid position-relative"
            style="
              max-height: 30vh;
              width: 100%;
              object-fit: cover;
              filter: brightness(70%);
            "
          />
          <div class="img-white-bg position-absolute top-0 start-0 w-100 h-100" style="background-color: #3c3c3ca6;">
m
          </div>
          

          <div
            class="container-fluid text-center position-absolute top-50 start-0"
          >
            <div class="row text-center">
              <div class="col-12 text-center">
                <h4 class="h2 fw-medium text-white">Safety & Securities</h4>
              </div>
              <div class="col-12 text-center mt-2" >
                <nav aria-label="breadcrumb" >
                    <ol class="breadcrumb-item-hover breadcrumb justify-content-center text-white fs-6 text-decoration-none" >
                      <li class="breadcrumb-item"><a href="/index.html" class="text-white text-decoration-none">Home</a></li>
                      <li class="breadcrumb-item"><a href="/assets/components/header/campus-life.html" class="text-white text-decoration-none">Campus Life</a></li>
                      <li class="breadcrumb-item active text-white" aria-current="page">Safety & Securities</li>
                    </ol>
                  </nav>
              </div>
              </div>
            </div>
          </div>
          <!-- navbar  -->
          <div id="navbar-placeholder"></div>
        </div>
      </section>

      <!-- floating action buttons  -->
    <div id="assistance-and-fab"></div>
    </header>

    <main>
        <section>
            <div class="container my-5">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-4 col-10 text-center mb-3">
                        <img src="/assets/images/safty-security.png" alt="..." class="w-100 img-fluid" style="max-width: 300px;max-height: 300px;box-shadow: -20px -20px 0px #5c0f8b;border-radius: 10px 0;">
                    </div>
                    <div class="col-md-8 col-10 para">
                        <p>Parents dream for their child, to make sure to inculcate every good manner and aspire them to do something big in life. But, even more than that they care for their safety! The safety of our students is definitely above any vision, an aspiration or dream for them.</p>
                        <p>RGI the Raisoni has been known for the excellence in facilities, latest in amenities and a plethora of opportunities. The group, which has the motto of ‘The vision beyond’ has never ceased to frame novel milestones in the path of education. And, it is doing the same to safeguard the students. Hence, the educational institute is well equipped with state-of-the-art tools and services to provide due safety measures.</p>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color: #F8F6FA;">
            <div class="container py-5">
                <div class="row align-items-center">
                    <div class="col-12 mb-5">
                        <h3 class="heading-2">Salient features which we have incorporated in our institutes</h3>
                    </div>
                    <div class="col-sm-6 col-lg-4 text-center mb-4 safety-card">
                        <div class="rounded-5 px-5 py-4 align-items-center" style="box-shadow: 0 0 10px rgb(218, 218, 218);">
                            <img src="/assets/images/camera.png" alt="" class="mb-3">
                            <h5 class="fs-6 text-purple fw-bold">Camera</h5>
                            <p class="para" style="text-align: justify;">We have a team of meticulous and careful security guards at each of the gates. The students are only made to enter after they show their ID cards to the guards. This further assures of the safety of each ward. The security guards are positioned in all the campuses.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 text-center mb-4 safety-card">
                        <div class="rounded-5 px-5 py-4 align-items-center" style="box-shadow: 0 0 10px rgb(218, 218, 218);">
                            <img src="/assets/images/camera.png" alt="" class="mb-3">
                            <h5 class="fs-6 text-purple fw-bold">Camera</h5>
                            <p class="para" style="text-align: justify;">Time and again, emphasis is laid on moral values. Seminars and symposiums on safety are organized in the institute to enable the students pertaining to the awareness about their rights.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 text-center mb-4 safety-card">
                        <div class="rounded-5 px-5 py-4 align-items-center" style="box-shadow: 0 0 10px rgb(218, 218, 218);">
                            <img src="/assets/images/camera.png" alt="" class="mb-3">
                            <h5 class="fs-6 text-purple fw-bold">Camera</h5>
                            <p class="para" style="text-align: justify;">Immense care is taken to provide the educational institute with a particularly safe environment.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 text-center mb-4 safety-card">
                        <div class="rounded-5 px-5 py-4 align-items-center" style="box-shadow: 0 0 10px rgb(218, 218, 218);">
                            <img src="/assets/images/camera.png" alt="" class="mb-3">
                            <h5 class="fs-6 text-purple fw-bold">Camera</h5>
                            <p class="para" style="text-align: justify;">That ace technology feature which never ceases to provide protection is the camera. Thus, we have made sure to put Close Circuit TV camera around the campus. We have them in the corridors, in the common areas and in some class rooms. We also have them in the various laboratories, library and sports room. Hence, you can be assured of a close eye on all the activities of the students with accuracy and precision.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        

    </main>
    <!-- footer  -->
    <div id="footer-placeholder"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
         AOS.init();
      </script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
  </body>
</html>
