<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style></style>
  </head>
  <body>
    <header>
      <!-- header section start  -->
      <section class="position-relative overflow-hidden">
        <div>
          <!-- background img -->
          <img
            src="/assets/images/ghrce.png"
            class="img-fluid position-relative"
            style="
              max-height: 30vh;
              width: 100%;
              object-fit: cover;
              filter: brightness(70%);
            "
          />
          <div class="img-white-bg position-absolute top-0 start-0 w-100 h-100" style="background-color: #3c3c3ca6;"></div>

          <div
            class="container-fluid text-center position-absolute top-50 start-0"
          >
            <div class="row text-center">
              <div class="col-12 text-center">
                <h4 class="h2 fw-medium text-white">Placement</h4>
              </div>
              <div class="col-12 text-center mt-2" >
                <nav aria-label="breadcrumb" >
                    <ol class="breadcrumb-item-hover breadcrumb justify-content-center text-white fs-6 text-decoration-none" >
                      <li class="breadcrumb-item"><a href="#" class="text-white text-decoration-none">Home</a></li>
                      <li class="breadcrumb-item"><a href="#" class="text-white text-decoration-none">Campus Life</a></li>
                      <li class="breadcrumb-item active text-white" aria-current="page">Student Clubs</li>
                    </ol>
                  </nav>
              </div>
              </div>
            </div>
          </div>
          <!-- navbar  -->
          <div id="navbar-placeholder"></div>
        </div>
      </section>

      <!-- floating action buttons  -->
    <div id="assistance-and-fab"></div>
    </header>

    <main>
        <div class="container my-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-12">

                    <div class="student-club-card p-4 mb-4" data-aos="fade-up" data-aos-duration="700">
                        <div class="row gy-3 text-center text-md-start justify-content-evenly align-items-center">
                            <div class="col-md-2 col-4">
                                <img src="/assets/images/happiness-club.png" class="img-fluid w-100" alt="...">
                            </div>
                            <div class="col-md-10 align-items-center">
                                <h5 class="fs-5 fw-normal">Happiness Club</h5>
                                <p class="text-purple fst-italic ms-4 mb-0">“The art of being happy lies in the power of extracting happiness from common things.”</p>
                                <p class="text-purple fst-italic ms-4">- Henry Word Beehcer</p>
                                <p>And, if you believe in the same, the Happiness club is just for you. It amalgamates the members who believe that small things around are a major source of happiness. The activities of the club are so designed to attain more and more happiness for self and people around. After all, Happiness is a state of mind. At the Happiness club we believe that this can well be achieved by making it an objective of your life, and not a by-product.</p>
                            </div>
                        </div>
                    </div>

                    <div class="student-club-card p-4 mb-4 " data-aos="fade-up" data-aos-duration="700">
                        <div class="row gy-3 text-center text-md-start justify-content-evenly align-items-center d-flex flex-row-reverse">
                            <div class="col-md-2 col-4">
                                <img src="/assets/images/happiness-club.png" class="img-fluid w-100" alt="...">
                            </div>
                            <div class="col-md-10 align-items-center">
                                <h5 class="fs-5 fw-normal">Happiness Club</h5>
                                <p class="text-purple fst-italic ms-4 mb-0">“The art of being happy lies in the power of extracting happiness from common things.”</p>
                                <p class="text-purple fst-italic ms-4">- Henry Word Beehcer</p>
                                <p>And, if you believe in the same, the Happiness club is just for you. It amalgamates the members who believe that small things around are a major source of happiness. The activities of the club are so designed to attain more and more happiness for self and people around. After all, Happiness is a state of mind. At the Happiness club we believe that this can well be achieved by making it an objective of your life, and not a by-product.</p>
                            </div>
                        </div>
                    </div>

                    <div class="student-club-card p-4 mb-4 " data-aos="fade-up" data-aos-duration="700">
                        <div class="row gy-3 text-center text-md-start justify-content-evenly align-items-center">
                            <div class="col-md-2 col-4">
                                <img src="/assets/images/happiness-club.png" class="img-fluid w-100" alt="...">
                            </div>
                            <div class="col-md-10 align-items-center">
                                <h5 class="fs-5 fw-normal">Happiness Club</h5>
                                <p class="text-purple fst-italic ms-4 mb-0">“The art of being happy lies in the power of extracting happiness from common things.”</p>
                                <p class="text-purple fst-italic ms-4">- Henry Word Beehcer</p>
                                <p>And, if you believe in the same, the Happiness club is just for you. It amalgamates the members who believe that small things around are a major source of happiness. The activities of the club are so designed to attain more and more happiness for self and people around. After all, Happiness is a state of mind. At the Happiness club we believe that this can well be achieved by making it an objective of your life, and not a by-product.</p>
                            </div>
                        </div>
                    </div>

                    <div class="student-club-card p-4 mb-4" data-aos="fade-up" data-aos-duration="700">
                        <div class="row gy-3 text-center text-md-start justify-content-evenly align-items-center d-flex flex-row-reverse">
                            <div class="col-md-2 col-4">
                                <img src="/assets/images/happiness-club.png" class="img-fluid w-100" alt="...">
                            </div>
                            <div class="col-md-10 align-items-center">
                                <h5 class="fs-5 fw-normal">Happiness Club</h5>
                                <p class="text-purple fst-italic ms-4 mb-0">“The art of being happy lies in the power of extracting happiness from common things.”</p>
                                <p class="text-purple fst-italic ms-4">- Henry Word Beehcer</p>
                                <p>And, if you believe in the same, the Happiness club is just for you. It amalgamates the members who believe that small things around are a major source of happiness. The activities of the club are so designed to attain more and more happiness for self and people around. After all, Happiness is a state of mind. At the Happiness club we believe that this can well be achieved by making it an objective of your life, and not a by-product.</p>
                            </div>
                        </div>
                    </div>

                    <div class="student-club-card p-4 mb-4 " data-aos="fade-up" data-aos-duration="700">
                        <div class="row gy-3 text-center text-md-start justify-content-evenly align-items-center">
                            <div class="col-md-2 col-4">
                                <img src="/assets/images/happiness-club.png" class="img-fluid w-100" alt="...">
                            </div>
                            <div class="col-md-10 align-items-center">
                                <h5 class="fs-5 fw-normal">Happiness Club</h5>
                                <p class="text-purple fst-italic ms-4 mb-0">“The art of being happy lies in the power of extracting happiness from common things.”</p>
                                <p class="text-purple fst-italic ms-4">- Henry Word Beehcer</p>
                                <p>And, if you believe in the same, the Happiness club is just for you. It amalgamates the members who believe that small things around are a major source of happiness. The activities of the club are so designed to attain more and more happiness for self and people around. After all, Happiness is a state of mind. At the Happiness club we believe that this can well be achieved by making it an objective of your life, and not a by-product.</p>
                            </div>
                        </div>
                    </div>

                    <div class="student-club-card p-4 mb-4" data-aos="fade-up" data-aos-duration="700">
                        <div class="row gy-3 text-center text-md-start justify-content-evenly align-items-center d-flex flex-row-reverse">
                            <div class="col-md-2 col-4">
                                <img src="/assets/images/happiness-club.png" class="img-fluid w-100" alt="...">
                            </div>
                            <div class="col-md-10 align-items-center">
                                <h5 class="fs-5 fw-normal">Happiness Club</h5>
                                <p class="text-purple fst-italic ms-4 mb-0">“The art of being happy lies in the power of extracting happiness from common things.”</p>
                                <p class="text-purple fst-italic ms-4">- Henry Word Beehcer</p>
                                <p>And, if you believe in the same, the Happiness club is just for you. It amalgamates the members who believe that small things around are a major source of happiness. The activities of the club are so designed to attain more and more happiness for self and people around. After all, Happiness is a state of mind. At the Happiness club we believe that this can well be achieved by making it an objective of your life, and not a by-product.</p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </main>
    <!-- footer  -->
    <div id="footer-placeholder"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
         AOS.init();
      </script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
  </body>
</html>
