.custom-nav{
  background: linear-gradient(
    to bottom,
    #000
    rgba(0, 0, 0, 0.639),
    transparent;)
}

.navbar-nav li > a {
  margin-right: 10px;
}

.lg-nav-item-list a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #333 !important;
  border: 0;
  transition: all 0.2s ease;
}

.lg-nav-item-list a:hover{
  color: #5c0f8b !important;
  background-color: rgb(247, 245, 245);
}

.lg-nav-item:hover .lg-nav-item-list{
  display: block !important;
}  